# Ignorar archivos temporales y del sistema
.DS_Store
Thumbs.db

# Ignorar archivos de editor
.vscode/
.idea/

# Ignorar archivos generados
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de compilación temporales
*.log
*.tmp
*.temp
*.bak
*.swp
